# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/

# production
/build

# vercel
.vercel

# markdown editor
editor.md

# cypress
cypress/screenshots
cypress/videos
cypress/cypress.yml

# env files
.env*

# local files
*.local.*