.entire {
  box-sizing: border-box;
  font-family: $jp_font;
  line-height: 1.4;
  position: relative;

  @include max(font-size, #{18px}, 18px);

  @include max(letter-spacing, #{1.2px}, 1.2px);

  .title {
    font-weight: 700;
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      align-items: center;
      display: flex;
      font-weight: 200;

      @include max(font-size, #{16px}, 16px);

      @include media(mobile) {
        font-weight: 300;
      }

      a {
        align-items: center;
        display: flex;
      }
      span {
        align-items: center;
        background-color: $dark-gray;
        border: 1px solid $lemon;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;

        @include max(margin-right, #{10px}, 10px);

        @include max(width, #{40px}, 40px);

        @include max(height, #{40px}, 40px);

        svg {
          @include max(font-size, #{20px}, 20px);
          path {
            color: $lemon;
          }
        }
      }
    }
  }
  &.in_article {
    $res: 1199px;
    width: 100%;

    @include max(padding, #{25px}, $width: $res);

    @include max(background-color, rgba(white, 0.08), $width: $res);

    @media screen and (max-width: $res) {
      @include max(margin-top, #{30px}, 30px);
    }

    .title {
      @include max(display, block, none, $res);
    }
    .body {
      @include max(justify-content, space-between, center, $res);

      @include max(margin-top, #{20px}, $width: $res);

      @include max(row-gap, #{20px}, 15px, $res);

      @media screen and (max-width: $res) {
        margin-left: auto;
        margin-right: auto;
        width: 95%;

        @include max(column-gap, #{15px}, 16px, $res);

        li {
          a {
            position: relative;

            @include max(padding-right, #{10px}, 10px);

            @include max(padding-left, #{10px}, 10px);

            @include max(padding-bottom, #{2px}, 2px);

            @include max(font-size, #{16px}, 16px);

            @include hover(true) {
              &:hover::before {
                border-color: white;
              }
            }

            &::before {
              border: 1px solid $lemon;
              content: '';
              height: 100%;
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%) skewX(-30deg);
              transition: border-color $common_anmt;
              width: 100%;
            }

            span {
              border: 0;

              @include max(height, #{30px}, 30px);

              @include max(width, #{30px}, 30px);

              svg {
                @include max(font-size, #{16px}, 20px);
              }
            }
          }
        }
      }
      li {
        @include max(width, 48%, $width: $res);
        a {
          @include hover(both) {
            text-decoration: underline;
            text-decoration-color: rgba(white, 0.5);
            text-decoration-thickness: 1px;
            @media screen and (max-width: $res) {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &:not(.in_article) {
    background-color: rgba(white, 0.04);
    overflow: hidden;

    @include max(padding-top, #{22.5px}, 17.5px);

    @include max(padding-bottom, #{22.5px}, 17.5px);

    @include max(height, $sp_value: 280px);

    &::before {
      background-color: $lemon;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;

      @include max(width, #{5px}, 5px);
    }
    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      li {
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        transition: all $common_anmt;

        @include max(padding-right, #{25px}, 15px);

        @include max(padding-left, #{25px}, 15px);

        @include hover(true) {
          &:hover {
            color: $dark-gray;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-color: $dark-gray;
            @include max(-webkit-text-stroke-width, #{1px}, 1px);
            &::before {
              @include max(width, calc(100% - 46px));

              @include diff(width, $sp_value: 35px);
            }
            &:last-of-type {
              a {
                color: $dark-gray;
              }
            }
          }
        }

        &::before {
          background-color: $lemon;
          content: '';
          height: 100%;
          position: absolute;
          right: 0;
          transition: all $common_anmt;
          width: 0%;
          z-index: -1;
        }
        &.active {
          color: $dark-gray;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-color: $dark-gray;
          @include max(-webkit-text-stroke-width, #{1px}, 1px);
          &::before {
            width: 100%;
          }
          &:last-of-type {
            a {
              color: $dark-gray;
            }
          }
        }
        &.active {
          pointer-events: none;
        }
        &:last-of-type {
          font-family: $jp_font;

          @include max(font-size, #{15px}, 15px);

          a {
            transition: all $common_anmt;
            span {
              background-color: $lemon;
              path {
                color: $dark-gray;
              }
            }
          }
        }
      }
    }
  }
}
