.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  & > li {
    & > a {
      display: block;
      height: 100%;
      width: 100%;
      .thumbnail {
        align-items: center;
        background-color: rgba(white, 0.08);
        display: flex;
        height: 125px;
        justify-content: center;
        position: relative;
        &::before {
          background-color: $lemon;
          content: '';
          position: absolute;
          transition: all $common_anmt;
          z-index: -1;
        }
        .emoji {
          height: 50px;
          width: 50px;
          img {
            animation: fade_in 1s both;
            height: 100% !important;
            width: auto !important;
          }
        }
      }
      .text_wrapper {
        background-color: rgba(white, 0.04);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: 1.2px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
        }
        h2 {
          -webkit-box-orient: vertical;
          display: -webkit-box;
          font-family: $jp_font;
          font-weight: 400;
          height: calc(19px * 1.4 * 2);
          line-height: 1.4;
          overflow: hidden;
          position: relative;
          width: 100%;
        }
        div {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          font-size: 15px;
          font-weight: 200;
          p {
            margin-top: 5px;
            span:first-of-type::before {
              content: 'Topic: ';
            }
            span:not(:first-of-type)::before {
              content: ',';
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  &.vertical {
    @include max(gap, 40px);
    & > li {
      @include diff(width, 120px, $from: 100%, $divide: 4);
      @media screen and (max-width: 1300px) {
        @include diff(width, 40px, $from: 100%, $divide: 2);
      }
      a {
        .thumbnail {
          &::before {
            bottom: 0;
            height: 1px;
            left: 0;
            width: 100%;
          }
          .type {
            background-color: $lemon;
            color: $dark-gray;
            font-size: 16px;
            font-weight: 600;
            left: 10px;
            padding: 6px 5px 2px 5px;
            position: absolute;
            top: 10px;
            transition: all $common_anmt;
          }
        }
        .text_wrapper {
          height: 155px;
          padding: 15px 15px 12.5px 15px;
          &::before {
            background: linear-gradient(to top right, rgba(255, 255, 255, 0) 50%, $lemon 50.75%) no-repeat top left/100%
              100%;
            height: 30px;
            right: 0;
            top: 0;
            transition: all $common_anmt;
            width: 30px;
          }
          &::after {
            background-color: $lemon;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: all $common_anmt;
            width: 0%;
          }
          h2 {
            font-size: 19px;
            -webkit-line-clamp: 2;
          }
        }
      }
      &:hover {
        .text_wrapper::after {
          width: 100%;
        }
        .thumbnail {
          .type {
            background-color: $dark-gray;
            color: $lemon;
          }
          &::before {
            height: 100%;
          }
        }
      }
    }
  }
  &.horizontal {
    @include max(gap, 40px);
    & > li {
      animation: fade_in 1s both;

      @include diff(width, 40px, $from: 100%, $divide: 2);

      @media screen and (max-width: 1300px) {
        width: 100%;
      }

      a {
        display: flex;
        .thumbnail {
          width: 125px;

          &::before {
            height: 100%;
            right: 0;
            top: 0;
            width: 1px;
          }
        }
        .text_wrapper {
          padding: 17.5px 17.5px 15px 17.5px;
          width: calc(100% - 125px);
          &::before {
            background-color: $lemon;
            bottom: 0;
            height: 1px;
            left: 0;
            transition: all $common_anmt;
            width: 0;
          }
          h2 {
            font-size: 18px;
            height: calc(18px * 1.4 * 2);
            -webkit-line-clamp: 2;
          }
        }
      }
      &:hover {
        .text_wrapper::before {
          width: 100%;
        }
        .thumbnail::before {
          width: 100%;
        }
      }
    }
  }
}
