.entire {
  transition: all $common_anmt;
  font-family: $jp_font;

  @include max(letter-spacing, #{1.2px}, 1.2px);

  .emoji {
    margin: 0 auto;

    @include max(width, #{80px}, 80px);
    @include max(height, #{80px}, 80px);
  }
  .title {
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;

    @include max(width, 65%, 90%);
    @include max(margin-top, #{30px}, 30px);
    @include max(font-size, #{28px}, 26px);
  }
  .time_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 100;

    @include max(gap, #{30px}, 30px);
    @include max(margin-top, #{30px}, 30px);

    div {
      display: flex;
      align-items: center;
      color: rgba(white, 0.75);

      @include max(font-size, #{16px}, 16px);

      svg {
        @include max(margin-right, #{7.5px}, 7.5px);
      }
    }
  }
}
