.entire {
  top: 0;
  font-family: $jp_font;
  line-height: 1.4;

  @include max(letter-spacing, #{1.2px}, 1.2px);
  @include con(transition, top $common_anmt, padding-left $common_anmt);
  @include con(width, 100%);
  @include con(height, $sp_value: 100%);
  @include con(position, sticky, absolute);
  @include con(right, $sp_value: 0);

  .meta {
    display: flex;
    align-content: center;
    box-sizing: border-box;
    font-family: $jp_font;

    @include max(letter-spacing, #{1.2px}, 1.2px);
    @include con(transition, $sp_value: left $common_anmt);
    @include con(padding, #{25px 20px});
    @include con(overflow, $sp_value: hidden);
    @include con(position, sticky, fixed);
    @include con(top, 0, (20px + 75px), #{30px + 11px + 110px});
    @include con(left, $sp_value: (20px + 20px), $mid_value: #{30px + 11px + 30px});
    @include con(z-index, -1, 2);
    @include con(background-color, rgba(white, 0.04));
    @include con(
      width,
      100%,
      diff(100%, (20px + 20px + 20px + 20px)),
      calc(100% - (30px + 11px + 30px) - (30px + 30px + 11px))
    );

    .inner {
      @include con(transition, $sp_value: transform $common_anmt);
      @include con(display, $sp_value: flex);
      @include con(width, $sp_value: 100%);
      @include con(padding, $sp_value: 10px, $mid_value: #{10px});
      @include con(position, $sp_value: relative);
      @include con(top, $sp_value: 0);
      @include con(z-index, $sp_value: 1);
      @include con(background-color, $sp_value: $lemon);
      @include con(transform, $sp_value: translateY(-105%));
    }
    &::before {
      @include con(transition, width $common_anmt order(2));
      @include con(width, 0);
      @include con(height, #{1px});
      @include con(position, absolute);
      @include con(bottom, 0);
      @include con(left, 0);
      @include con(content, '', initial);
      @include con(background-color, $lemon);
    }
    &::after {
      @include con(transition, multi(width height, $common_anmt) order(2));
      @include con(width, 0);
      @include con(height, 0);
      @include con(position, absolute);
      @include con(right, 0);
      @include con(bottom, 0);
      @include con(content, '', initial);
      @include con(
        background,
        linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, $lemon 50.75%) no-repeat top left/100% 100%
      );
    }
    .emoji {
      @include con(width, #{45px}, 32px, #{30px});
      @include con(height, #{45px}, 32px, #{30px});
      @include con(margin-right, #{15px}, 15px);
    }
    .title {
      line-height: 1.8;

      @include con(color, $sp_value: rgba($dark_gray, 0.9));
      @include con(font-weight, 500, 700);
      @include con(font-size, #{17.5px}, 19.5px, #{17.5px});
    }
    [class*='header_opened'] + main & {
      @include con(left, $sp_value: (20px + 20px + 70px));
    }
    [class*='header_expanded'] + main & {
      @include con(left, $sp_value: (20px + 20px + 200px));
    }
  }
  .toc {
    box-sizing: border-box;
    width: 100%;
    font-family: $jp_font;

    @include con(transition, top $common_anmt order(3), width $common_anmt);
    @include con(width, $sp_value: 45px, $mid_value: #{45px});
    @include con(height, $sp_value: 100%);
    @include con(padding, #{25px});
    @include con(overflow-x, hidden);
    @include con(overflow-y, scroll);
    @include con(position, absolute);
    @include con(top, 0);
    @include con(background-color, #313131);
    @include con(cursor, $sp_value: pointer);
    @include hover(true) {
      &:hover .title {
        @include con(width, $sp_value: 30px, $mid_value: #{30px});
      }
    }

    &::before {
      @include con(width, $sp_value: 5px, $mid_value: #{5px});
      @include con(height, $sp_value: 100%);
      @include con(pointer-events, $sp_value: none);
      @include con(position, $sp_value: absolute);
      @include con(top, $sp_value: 0);
      @include con(right, $sp_value: 0);
      @include con(z-index, $sp_value: 2);
      @include con(content, initial, '');
      @include con(background-color, $sp_value: $lemon);
    }
    &::after {
      @include con(width, $sp_value: 300px, $mid_value: #{300px});
      @include con(height, $sp_value: 100%);
      @include con(position, $sp_value: absolute);
      @include con(top, $sp_value: 0);
      @include con(left, $sp_value: 100%);
      @include con(z-index, $sp_value: 2);
      @include con(content, initial, '');
      @include con(background-color, $sp_value: $dark_gray);
    }
    &.opened {
      @include con(width, $sp_value: 300px, $mid_value: #{300px});

      .body {
        @include con(transform, $sp_value: translateX(0%));
      }
    }
    .title {
      font-weight: 500;

      @include con(transition, $sp_value: width $common_anmt);
      @include con(display, $sp_value: flex);
      @include con(align-items, $sp_value: center);
      @include con(justify-content, $sp_value: center);
      @include con(width, $sp_value: 0);
      @include con(height, $sp_value: 200px, $mid_value: #{200px});
      @include con(clip-path, $sp_value: polygon(100% 0, 100% 100%, 0% 75%, 0 25%), $mid_value: polygon(100% 0, 100% 100%, 0% 85%, 0 15%));
      @include con(position, $sp_value: absolute);
      @include con(right, $sp_value: 4.5px, $mid_value: #{4.5px});
      @include con(z-index, $sp_value: 2);
      @include con(color, $sp_value: $dark_gray);
      @include con(font-size, #{17.5px}, 18px, #{18px});
      @include con(background-color, $sp_value: $lemon);
      @include con(transform, $sp_value: translateY(-50%));
      @include con(writing-mode, $sp_value: vertical-lr);
    }
    .body {
      display: flex;
      flex-direction: column;

      @include con(transition, $sp_value: transform $common_anmt);
      @include con(box-sizing, $sp_value: border-box);
      @include con(width, $sp_value: 295px, $mid_value: #{295px});
      @include con(margin, 20px 0 0 0, 0 5px 0 0, #{0 5px 0 0});
      @include con(padding, $sp_value: 25px, $mid_value: #{25px});
      @include con(overflow-x, $sp_value: visible);
      @include con(overflow-y, $sp_value: scroll);
      @include con(position, $sp_value: sticky);
      @include con(top, $sp_value: 0);
      @include con(z-index, $sp_value: 1);
      @include con(background-color, $sp_value: #313131);
      @include con(border-left, $sp_value: solid rgba(white, 0.4));
      @include con(border-left-width, $sp_value: 5px, $mid_value: #{5px});
      @include con(transform, $sp_value: translateX(45px));
      @include con(row-gap, #{10px}, 10px);
      @include con(
        max-height,
        $sp_value: diff(100vh, (20px + 75px + 20px + 20px)),
        $mid_value: calc(100vh - 30px - 11px - 110px - 30px - 11px - 30px)
      );

      li {
        transition: color $common_anmt;
        display: flex;
        align-items: center;
        width: 100%;
        user-select: none;
        position: relative;
        color: rgba(white, 0.6);
        line-height: 1.4;
        cursor: pointer;

        &._1 {
          font-weight: 500;

          @include max(font-size, #{16px}, 18px);

          &::before {
            @include max(margin-right, #{10px}, 10px);
          }
        }
        &._2 {
          font-weight: 400;

          @include max(font-size, #{14px}, 16px);

          &::before {
            @include max(width, #{9px}, 9px);
            @include max(height, #{9px}, 9px);
            @include max(margin-left, #{2px}, 2px);
            @include max(margin-right, #{12px}, 12px);
          }
        }
        &::before {
          transition: multi(background-clip background-color border padding border-width, ease-in-out 0.3s);
          display: block;
          box-sizing: border-box;
          z-index: 1;
          content: '';
          background-color: #6f6f6f;
          transform: rotate(-45deg);

          @include max(width, #{13px}, 13px);
          @include max(height, #{13px}, 13px);
          @include max(margin-top, #{2px}, 2px);
        }
        &:not(:first-of-type)::after {
          width: 1px;
          height: 100%;
          height: 150%;
          position: absolute;
          bottom: 50%;
          content: '';
          background-color: #6f6f6f;

          @include max(left, #{6.2px}, 6.2px);
        }
        &.active {
          pointer-events: none;
          color: white;

          &::before {
            background-color: $lemon;
            background-clip: content-box;
            border: solid darken($lemon, 20);

            @include max(padding, #{1px}, 1px);
            @include max(border-width, #{2px}, 2px);
          }
        }
      }
    }
  }
  &.init {
    .meta::before,
    .meta::after,
    .meta *,
    .toc {
      transition: all 0s;
    }
  }
  &.showed {
    .meta {
      @include max(pointer-events, $sp_value: auto);

      .inner {
        @include con(transform, $sp_value: translateY(0));
      }
      &::before {
        @include con(transition, width $common_anmt order(3));
        @include con(width, 100%);
      }
      &::after {
        @include con(transition, multi(width height, $common_anmt order(4)));
        @include con(width, #{40px}, $mid_value: 40px);
        @include con(height, #{40px}, $mid_value: 40px);
      }
    }
    .toc {
      @include max(transition, top $common_anmt order(2), width $common_anmt);
    }
  }
}
