.entire {
  align-items: center;
  background-color: rgba(white, 0.04);
  box-sizing: border-box;
  display: flex;
  font-family: $jp_font;
  padding: 25px;
  position: relative;
  width: 100%;
  z-index: -1;

  &::before {
    background-color: $lemon;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    transition: width $common_anmt order(2);
    width: 0;
  }
  &::after {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, $lemon 50.75%) no-repeat top left/100% 100%;
    bottom: 0;
    content: '';
    height: 0px;
    position: absolute;
    right: 0;
    transition: all $common_anmt order(1);
    width: 0px;
  }
  .emoji {
    align-items: center;
    display: flex;
    font-size: 45px;
    justify-content: center;
    margin-right: 15px;
  }
  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
  }
}
