.entire {
  font-family: $jp_font;
  $res: 1199px;
  transition: all $common_anmt;

  @include max(letter-spacing, #{1.2px}, 1.2px);

  .emoji {
    align-items: center;
    display: flex;
    font-size: 80px;
    justify-content: center;
    width: 100%;

    @include max(font-size, #{80px}, 80px);
  }
  .title {
    font-weight: 600;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include max(width, 65%, 90%);

    @include max(font-size, #{28px}, 26px);

    @include max(margin-top, #{30px}, 30px);
  }
  .time_header {
    display: flex;
    flex-wrap: wrap;
    font-weight: 100;
    justify-content: center;

    @include max(margin-top, #{30px}, 30px);

    @include max(gap, #{30px}, 30px);

    div {
      align-items: center;
      display: flex;
      * {
        color: rgba(white, 0.75);
      }
      svg {
        @include max(margin-right, #{7.5px}, 7.5px);
      }
      time {
        @include max(font-size, #{16px}, 16px);
      }
    }
  }
}
