.wrapper {
  position: relative;
}
.inner {
  box-sizing: border-box;
  background-color: rgba(white, 0.08);
  border-right: solid $lemon;

  @include max(padding, #{45px}, 30px);
  @include max(padding-right, $sp_value: 30px + 8px);
  @include con(border-right-width, #{5px});
}
