.main {
  letter-spacing: 1.2px;
  font-family: $jp_font;
  transition: all $common_anmt;
  .emoji {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      height: 80px !important;
      width: 80px !important;
    }
  }
  .title {
    color: rgba(white, 0.9);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 60%;
  }
  .time_header {
    display: flex;
    font-weight: 100;
    justify-content: center;
    margin-top: 30px;
    span {
      align-items: center;
      display: flex;
      * {
        color: rgba(white, 0.75);
      }
      svg {
        margin-right: 7.5px;
      }
      time {
        font-size: 16px;
      }
      &:not(:first-of-type) {
        margin-left: 30px;
      }
    }
  }
}
.aside {
  align-items: center;
  background-color: rgba(white, 0.04);
  box-sizing: border-box;
  display: flex;
  font-family: $jp_font;
  // margin-top: 40px;
  padding: 25px;
  position: relative;
  width: 100%;
  z-index: -1;


  &::before {
    background-color: $lemon;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    transition: width $common_anmt order(2);
    width: 0;
  }
  &::after {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, $lemon 50.75%) no-repeat top left/100% 100%;
    bottom: 0;
    content: '';
    height: 0px;
    position: absolute;
    right: 0;
    transition: all $common_anmt order(1);
    width: 0px;
  }
  .emoji {
    align-items: center;
    display: flex;
    font-size: 45px;
    justify-content: center;
    margin-right: 15px;
  }
  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
  }
  &.show {
    &::before {
      transition: width $common_anmt order(3);
      width: 100%;
    }
    &::after {
      height: 40px;
      transition: all $common_anmt order(4);
      width: 40px;
    }
  }
}
