.entire {
  display: flex;
  align-items: flex-end;
  position: fixed;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);

  @include max(transition, $sp_value: left $common_anmt);
  @include max(bottom, #{30px}, 20px);

  [class*='header_opened'] + header + main & {
    @include max(left, $sp_value: add(50%, 70px));
  }
  [class*='header_expanded'] + header + main & {
    @include max(left, $sp_value: add(50%, 200px));
  }
  button {
    display: grid;
    align-items: center;
    clip-path: polygon(0 100%, 15% 0, 85% 0, 100% 100%);
    background-color: $lemon;

    @include max(width, #{100px}, 100px);
    @include max(height, #{17.5px}, 17.5px);
    @include max(margin-right, #{5px}, 5px);
    @include max(margin-left, #{5px}, 5px);

    &::before {
      transition: all 0.3s $ex_ease_out;
      grid-area: 1/2;
      width: 0;
      height: 2px;
      content: '';
      background-color: $dark_gray;
    }
  }
  &:hover {
    button::before {
      @include max(width, #{50px}, 50px);
    }
    a:not(:nth-of-type(2)) {
      @include max(width, #{22.5px}, 22.5px);
      @include max(height, #{22.5px}, 22.5px);
      @include max(margin-bottom, #{5px}, 5px);
    }
  }
  a {
    cursor: pointer;

    &:not(:nth-of-type(2)) {
      transition: all 0.3s $ex_ease_out;
      width: 0;
      height: 0;

      @include max(margin-bottom, #{20px}, 20px);

      svg {
        width: 100%;
        height: 100%;
      }
      &.active {
        pointer-events: none;
      }
      &.active svg path,
      &:hover svg path {
        color: $lemon;
      }
    }
  }
}
