.entire {
  opacity: 0;
  transition: all $common_anmt;

  @include max(width, 50%, 100%);

  // @include max(border-bottom, $sp_value: solid $lemon);

  // @include max(border-bottom-width, $sp_value: 10px);

  &.mounted {
    opacity: 1;
  }
}
