@import '../components/Markdown.module.scss';

.entire {
  background-color: rgba(white, 0.08);
  display: flex;

  @include max(height, #{600px}, 600px);

  @include max(flex-direction, $sp_value: column);

  [class*='gutter'] {
    background-color: $lemon;
  }
  .editor {
    opacity: 0;
    transition: all $common_anmt;

    @include max(width, 50%, 100%);

    @include max(border-bottom, $sp_value: solid $lemon);

    @include max(border-bottom-width, $sp_value: 10px);

    &.mounted {
      opacity: 1;
    }
  }
  .preview {
    box-sizing: border-box;
    overflow-x: scroll;

    @include max(height, $sp_value: 300px);

    @include max(width, 50%, 100%);

    @include custom_scrollbar();
  }
}
