.entire {
  background-color: #313131;
  border-radius: 5px;

  .loading {
    width: 100%;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;

    @include max(height, #{12px}, 12px);
  }
  nav {
    border-bottom: 1px solid rgba(white, 0.25);
    box-sizing: border-box;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    @include max(padding-top, #{12px}, 12px);

    @include max(padding-bottom, #{8px}, 8px);

    @include max(padding-right, #{12px}, 12px);

    @include max(padding-left, #{12px}, 12px);

    &::after {
      content: '';
      height: 100%;

      @include max(width, #{12px}, 12px);
    }
    ul {
      display: flex;

      @include max(column-gap, #{12px}, 12px);

      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: relative;

        &::after {
          background-color: $lemon;
          content: '';
          height: 2px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          width: 0%;

          @include max(bottom, #{-8px}, -8px);
        }
        &.active::after {
          width: 150%;
        }
        &.active::before,
        &:hover::before {
          background-color: rgba(white, 0.08);
          border-radius: 5px;
          content: '';
          height: 150%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 150%;
        }
      }
    }
  }
  .emojis {
    box-sizing: border-box;
    overflow-y: scroll;
    overscroll-behavior-y: contain;

    @include max(max-height, #{350px}, 350px);

    @include max(padding-top, #{12px}, 12px);

    @include max(padding-left, #{12px}, 12px);

    ul {
      display: flex;
      flex-wrap: wrap;

      @include max(gap, #{12px}, 12px);

      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: relative;

        &:hover {
          position: relative;
          &::after {
            background-color: rgba(white, 0.08);
            border-radius: 5px;
            content: '';
            height: 150%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 150%;
          }
        }
      }
    }
  }
}
