.entire {
  display: flex;
  align-items: flex-end;
  width: 100%;

  input,
  textarea {
    transition: all 0.1s;
    box-sizing: border-box;
    width: 100%;
    color: rgba(white, 0.9);
    font-weight: 400;
    font-family: $jp_font;
    line-height: 1.4;
    background-color: rgba($dark_gray, 0.6);
    border-bottom: 1px solid $lemon;
    outline-color: transparent;

    @include max(padding-top, #{6.5px}, 6.5px);
    @include max(padding-right, #{25px}, 25px);
    @include max(padding-bottom, #{7.5px}, 7.5px);
    @include max(padding-left, #{7.5px}, 7.5px);
    @include max(font-size, #{14px}, 16px);
    @include max(letter-spacing, #{1.2px}, 1.2px);

    &:-webkit-autofill {
      transition: background-color 0s;
      transition-delay: 10000s;
      animation-name: onAutoFillStart;
      caret-color: white;
      -webkit-text-fill-color: white !important;
    }
    &:focus + .triangle::before {
      @include max(width, #{34px}, 34px);
      @include max(height, #{34px}, 34px);
    }
    &:focus {
      background-color: rgba($dark_gray, 0.75);
    }
  }
  textarea {
    resize: none;

    @include max(height, #{100px}, 100px);
  }
  .triangle {
    position: relative;

    &::before {
      transition: all $common_anmt;
      width: 0;
      height: 0;
      clip-path: polygon(0 100%, 100% 100%, 100% 0%);
      position: absolute;
      right: 0;
      bottom: 0;
      content: '';
      background-color: $lemon;
    }
  }
}
@keyframes onAutoFillStart {
  from {
  }
  to {
    background-color: rgba($dark_gray, 0.6);
  }
}
