.state {
  grid-area: 1/-1;
  position: relative;
  z-index: 0;
  visibility: hidden;
  opacity: 0;

  &.sending {
    @include max(font-size, #{40px}, 40px);
  }
  &.error,
  &.complete {
    font-weight: 300;
    font-family: $jp_font;
    line-height: 1.8;
    text-align: center;

    @include max(font-size, #{16px}, 18px);
    @include max(letter-spacing, #{1.2px}, 1.2px);
    @include media(mobile) {
      font-weight: 400;
    }

    & > a {
      @include hover(both) {
        text-decoration: underline;
        text-decoration-color: rgba(white, 0.5);
        text-decoration-thickness: 1px;
      }
    }
    .button {
      @include max(margin-top, #{20px}, 20px);
    }
  }
  &.visible {
    transition: all $common_anmt order(2);
    visibility: visible;
    opacity: 1;
  }
  &.hidden {
    transition: all $common_anmt order(1);
    visibility: hidden;
    opacity: 0;
  }
}
