.entire {
  align-items: center;
  background-color: rgba(white, 0.08);
  border-right: solid $lemon;
  @include max(border-right-width, #{5px}, 5px);
  box-sizing: border-box;
  color: rgba(white, 0.9);
  display: grid;
  justify-items: center;
  position: relative;
  width: 100%;

  @include max(padding, #{40px}, 30px);

  @include max(max-width, #{425px});

  input:not([type='submit']),
  textarea {
    @include max(margin-top, #{10px}, 10px);
  }
  hr,
  label:not(:first-of-type) {
    @include max(margin-top, #{35px}, 35px);
  }
  input[type='submit'] {
    @include max(margin-top, #{38px}, 38px);
  }
  hr {
    width: 100%;
    opacity: 0.2;
    margin-bottom: 0;
  }
}
