.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 40px;
  position: relative;
  width: 100%;

  @include max(padding, 40px, 5vw, true);

  &::before,
  &::after {
    box-sizing: border-box;
    height: 0;
    position: absolute;
    width: 0;
  }
  &::before {
    border-right: 1px solid $lemon;
    border-top: 1px solid $lemon;
    content: '';
    transition: height $common_anmt entry_order(1), width $common_anmt entry_order(2);

    @include max(bottom, 40px, 5vw, true);

    @include max(right, 40px, 5vw, true);
  }
  &::after {
    border-bottom: 1px solid $lemon;
    border-left: 1px solid $lemon;
    content: '';
    opacity: 0;
    transition: opacity $moment entry_order(3), height $common_anmt entry_order(3),
      width $common_anmt entry_order(4);

    @include max(left, 40px, 5vw, true);

    @include max(top, 40px, 5vw, true);
  }
  &.mounted {
    &::before,
    &::after {
      opacity: 1;

      @include max(height, calc(100% - 80px), calc(100% - 10vw), true);

      @include max(width, calc(100% - 80px), calc(100% - 10vw), true);
    }
  }
}
