.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 40px;
  position: relative;
  width: 100%;

  @include max(padding, 40px, 5vw, true);

  &::before,
  &::after {
    box-sizing: border-box;
    height: 0;
    position: absolute;
    width: 0;
    z-index: -1;
  }
  &::before {
    border-right: 1px solid $lemon;
    border-top: 1px solid $lemon;
    content: '';
    transition: height $common_anmt entry_order(1), width $common_anmt entry_order(2);

    @include max(bottom, 40px, 5vw, true);

    @include max(right, 40px, 5vw, true);
  }
  &::after {
    border-bottom: 1px solid $lemon;
    border-left: 1px solid $lemon;
    content: '';
    opacity: 0;
    transition: opacity $moment entry_order(3), height $common_anmt entry_order(3),
      width $common_anmt entry_order(4);

    @include max(left, 40px, 5vw, true);

    @include max(top, 40px, 5vw, true);
  }
  &.mounted {
    &::before,
    &::after {
      opacity: 1;

      @include max(height, calc(100% - 80px), calc(100% - 10vw), true);

      @include max(width, calc(100% - 80px), calc(100% - 10vw), true);
    }
  }
  & > *:not([class*='exclude']) {
    animation: fade_in 1s both;
  }
}
.wrapper {
  display: flex;
  height: calc(100% - 22px - 110px - 40px);
  margin: 110px 40px 40px 40px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 22px - 40px - 40px);
  &.scroller {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 110px 0px 40px 40px;
  }
  .contents_height {
    width: 0%;
  }
  .contents {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    section {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: all $common_anmt;
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.buttons {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-right: 15px;
  width: 6.5px;
  margin-left: 18.5px;
  button {
    border-right: 2.5px solid gray;
    box-sizing: border-box;
    display: block;
    transition: all 0.3s;
    width: 100%;
    &:first-of-type {
      margin-bottom: 6.5px;
    }
    &:not(:first-of-type):not(:last-of-type) {
      margin-bottom: 6.5px;
      margin-top: 6.5px;
    }
    &:last-of-type {
      margin-top: 6.5px;
    }
    &:hover,
    &.current {
      border-right: 6.5px solid $lemon;
    }
  }
}
