.entire {
  align-items: center;
  background-color: rgba(white, 0.08);
  border-bottom: 2px solid $lemon;
  display: flex;
  flex-wrap: wrap;

  @include max(padding, #{12.5px}, 12.5px);

  @include max(gap, #{12.5px}, 12.5px);

  svg {
    cursor: pointer;
    display: block;
    border-radius: 5px;
    transition: all 0.2s;
    @include max(font-size, #{28px}, 28px);

    @include max(padding, #{2px}, 2px);

    &:hover {
      background-color: $dark-gray;
      // color: rgba(white, 0.7);
    }
  }
}
