.entire {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  letter-spacing: 0;

  @include max(font-size, #{24px}, 26px);
  @include media(mobile) {
    font-weight: 600;
  }

  &::before {
    height: 1.25px;
    content: '';
    background-color: $lemon;

    @include max(width, #{300px}, 250px);
    @include max(margin-bottom, #{10px}, 8px);
  }
}
