.entire {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  letter-spacing: 0;
  overflow: hidden;
  position: relative;

  @include media(mobile) {
    font-weight: 600;
  }

  @include max(font-size, #{24px}, 26px);

  &::before {
    background-color: $lemon;
    content: '';
    height: 1.25px;

    @include max(margin-bottom, #{10px}, 8px);

    @include max(width, #{300px}, 250px);
  }
  span {
    transform: translateY(125%);
  }
}
