.entire {
  box-sizing: border-box;
  display: flex;
  padding: 11px;
  position: absolute;
  z-index: 99;

  @include max(inset, 40px 0 0 40px, 5vw 0 0 5vw);

  @include max(height, calc(100% - 80px), calc(100% - 10vw), true);

  @include max(width, calc(100% - 80px), calc(100% - 10vw), true);

  ul {
    align-items: center;
    display: flex;
    font-family: $en_font;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    transition: all $common_anmt;
    width: 0;
    @include media(pc) {
      background-clip: content-box;
      border-bottom: 1px solid $lemon;
      padding-bottom: 10px;
    }

    @include max(left, -35px, 50%, true);

    @include max(background-color, rgba(#ffffff, 0.1), $lemon);

    @include max(height, 60px, 100vh, true);

    @include max(position, relative, absolute);

    @include max(top, 0, 50%);

    @include media(sp) {
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      transform: translate(-50%, -50%) skewX(-30deg);
    }

    &::before {
      content: '';
      position: absolute;

      @include max(height, 60px, calc(100vh + 100vw), true);

      @include max(top, 0, 50%);

      @include media(pc) {
        background: linear-gradient(
            to top left,
            rgba(255, 255, 255, 0) 50%,
            rgba(#ffffff, 0.1) 50.75%
          )
          no-repeat top left/100% 100%;
        right: 0;
      }

      @include media(sp) {
        background-color: $dark-gray;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        z-index: 2;
      }
    }
    &::after {
      content: '';
      position: absolute;

      @include max(top, 0, 50%);

      @include max(transform, skewX(-30deg), translate(-50%, -50%) skewX(30deg) scale(0.05));

      @include media(pc) {
        background-color: $lemon;
        transition: all $common_anmt order(1);
        width: 2.5px;
      }

      @include media(sp) {
        background-position: center;
        background-size: cover;
        content: url(../../img/lemon_gray.png);
        left: 50%;
        z-index: 1;
      }
    }
    &.opened {
      @include max(width, 650px, calc(100vw + 100vh), true);

      @include media(sp) {
        transition: all $bound_anmt;
      }

      &::before {
        @include media(pc) {
          right: calc(-60px / #{$route_3});
          transition: all $common_anmt order(1);
        }

        @include media(sp) {
          transition: all $bound_anmt 0.45s;
        }

        @include max(width, calc(60px / #{$route_3}), calc(100vh + 100vw));
      }
      &::after {
        @include media(pc) {
          height: 80px;
          right: -25px;
          top: 0;
        }
      }
      li {
        @include media(pc) {
          animation: flash_once 0.1s linear forwards order(2);
        }
      }
    }
    &.closed {
      width: 0px;

      @include media(sp) {
        transition: all $bound_anmt 0.45s;
      }

      &::before {
        width: 0;

        @include media(pc) {
          right: 0;
          transition: all $common_anmt order(2);
        }

        @include media(sp) {
          transition: all $bound_anmt;
        }
      }
      &::after {
        @include media(pc) {
          height: 0;
          right: -35px;
          top: 2px;
        }
      }
    }

    li {
      @include media(pc) {
        align-items: center;
        display: flex;
        opacity: 0;
        visibility: hidden;
        z-index: 3;

        &:not(:first-of-type) {
          @include max(margin-left, 30px, 30px, true);
          &::before {
            background-color: $lemon;
            content: '';
            height: 30px;
            opacity: 0.75;
            transform: rotate(30deg);
            width: 0.5px;

            @include max(margin-right, 30px, 30px, true);
          }
        }
        &:first-of-type {
          @include max(margin-left, 90px, 80px, true);
        }
        a {
          position: relative;
          span {
            transition: color $common_anmt;

            @include max(display, inline, none);
          }
          // svg {
          //   overflow: hidden !important;

          //   @include max(width, $sp_value: 22px, $sp_fixed: true);

          //   @include max(height, $sp_value: 22px, $sp_fixed: true);

          //   @include max(display, none, block);

          //   path {
          //     transition: color $common_anmt;
          //   }
          // }
          &::before {
            background-color: $lemon;
            content: '';
            height: 140%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) skewX(-30deg);
            transition: all $common_anmt;
            width: 0%;
            z-index: -1;

            @include max(left, -20%, -55%);
          }
        }
        &.active > a,
        &:not(.active) > a:hover {
          span {
            color: $dark-gray;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-color: $dark-gray;
            -webkit-text-stroke-width: 0.65px;
          }
          path {
            color: $dark-gray;
          }
          &::before {
            @include max(width, 140%, 225%);
          }
        }
        &.active > a {
          pointer-events: none;
        }
      }

      @include media(sp) {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) skewX(30deg);
        z-index: 3;
      }
    }
  }

  button {
    border-top: 1px solid $lemon;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 60px;
    position: relative;
    width: 0px;
    z-index: 1;
    &::before,
    &::after {
      background-color: $lemon;
      content: '';
      height: 1px;
      margin-top: 15px;
      width: 0;
    }
    span {
      background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, $lemon 50.75%)
        no-repeat top left/100% 100%;
      box-sizing: border-box;
      font-family: $en_font;
      height: 0;
      inset: -1px 0 0;
      position: absolute;
      transition: all $common_anmt;
      width: calc(120px / #{$route_3});
      &::before {
        color: $dark-gray;
        content: 'OPEN';
        font-size: 16px;
        font-weight: 600;
        left: -18px;
        letter-spacing: 4px;
        opacity: 0;
        position: absolute;
        top: 30px;
        transform: rotate(90deg);
        transition: all 0.2s $ex_ease_out;
        visibility: hidden;
      }
    }
  }
  &.mounted {
    button {
      transition: all $common_anmt entry_order(4);
      width: 60px;
      &::before,
      &::after {
        transition: all $common_anmt entry_order(4);
      }
      &::before {
        width: 45px;
      }
      &::after {
        width: 30px;
      }
      @mixin opened_style {
        span {
          height: 120px;
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
        &.opened {
          span::before {
            content: 'CLOSE';
            letter-spacing: 2px;
          }
        }
      }
      &:hover,
      &.opened {
        @include opened_style;
      }
      &.closing:not(:hover) {
        span {
          height: 0;
          transition: all $common_anmt 0.8s;
          &::before {
            opacity: 0;
            transition: all 0.2s $ex_ease_out 0.8s;
            visibility: hidden;
          }
        }
      }
    }
  }
}
