.entire {
  display: flex;
  flex-direction: column;
  font-family: $en_font;
  font-weight: 400;
  overflow: hidden;
  position: relative;

  @include max(font-size, 25px);

  &::before {
    background-color: $lemon;
    content: '';
    height: 1.25px;

    @include max(margin-bottom, 10px);

    @include max(width, 300px);
  }
}
