.entire {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  z-index: 0; // with MainFrame.module.scss

  @include max(top, #{30px + 11px}, 20px + 19px);
  @include max(left, #{30px + 11px}, 20px + 19px);

  .swiper {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    @include max(width, $sp_value: diff(11px, 20px + 20px));

    &.opened {
      right: 0;
      left: initial;
      z-index: 999;

      @include max(width, $sp_value: diff(100%, 70px));

      &.expanded {
        @include max(width, $sp_value: diff(100%, 200px));
      }
    }
  }
  ul {
    @include media(sp) {
      transition: width $common_anmt, left $common_anmt;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      position: fixed;
      top: 0;
      background-color: rgba(white, 0.05);
      border-left: 5px solid $lemon;

      @include max(width, $sp_value: 70px);
      @include max(left, $sp_value: -70px);

      li {
        box-sizing: border-box;
        width: 100%;
        user-select: none;
        position: relative;

        @include hover(true) {
          &:hover {
            &::before {
              width: 100%;
            }
            .name {
              color: $dark_gray;
              -webkit-font-smoothing: antialiased;
              -webkit-text-stroke-color: $dark_gray;
              -webkit-text-stroke-width: 1.25px;
            }
            svg path {
              color: $dark_gray;
            }
          }
        }

        &::before {
          transition: width $common_anmt;
          width: 0;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          content: '';
          background-color: $lemon;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          @include max(padding-top, $sp_value: 10px);
          @include max(padding-bottom, $sp_value: 10px);

          svg {
            @include max(font-size, $sp_value: 27px);

            path {
              transition: color $common_anmt;
              color: white;
            }
          }
          .name {
            display: none;
            position: relative;
            color: white;
            font-weight: 300;

            @include max(top, $sp_value: 2px);
            @include max(font-size, $sp_value: 22px);
          }
        }
        &.active,
        &.lower_active {
          &::before {
            width: 100%;
          }
          .name {
            color: $dark_gray;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-color: $dark_gray;
            -webkit-text-stroke-width: 1px;
          }
          svg path {
            color: $dark_gray;
          }
          &.active {
            pointer-events: none;
          }
        }
      }
      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: calc(100% - 4px);
        user-select: none;
        color: rgba(white, 0.5);
        transform: translateX(-2.5%) scaleY(1.5);
        cursor: pointer;

        @include max(font-size, $sp_value: 27px);
        @include max(letter-spacing, $sp_value: -5px);
      }
      &.opened {
        left: 0px;

        &.expanded {
          @include max(width, $sp_value: 200px);

          .name {
            display: inline-block;

            @include max(margin-left, $sp_value: 12.5px);
          }
          .arrow {
            transform: translateX(0%) scaleY(1.5) rotate(-180deg);
          }
        }
      }
    }
    @include media(pc) {
      transition: all $common_anmt;
      display: flex;
      align-items: center;
      width: 0;
      height: 60px;
      padding-bottom: 10px;
      position: relative;
      top: 0;
      left: -35px;
      font-weight: 300;
      font-size: 20px;
      font-style: italic;
      background-color: rgba(#ffffff, 0.1);
      background-clip: content-box;
      border-bottom: 1px solid $lemon;

      &::before {
        transition: all $common_anmt order(2);
        width: 0;
        height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, rgba(#ffffff, 0.1) 50.75%) no-repeat top
          left/100% 100%;
      }
      &::after {
        transition: all $common_anmt order(1);
        width: 2.5px;
        height: 0;
        position: absolute;
        top: 0;
        top: 2px;
        right: -35px;
        content: '';
        background-color: $lemon;
        transform: skewX(-30deg);
      }
      li {
        display: flex;
        align-items: center;
        user-select: none;
        visibility: hidden;
        opacity: 0;

        &:not(:first-of-type) {
          margin-left: 30px;

          &::before {
            width: 0.5px;
            height: 30px;
            margin-right: 30px;
            content: '';
            background-color: $lemon;
            transform: rotate(30deg);
            opacity: 0.75;
          }
        }
        &:first-of-type {
          margin-left: 90px;
        }
        a {
          position: relative;

          .name {
            transition: color $common_anmt;
            color: white;

            @include max(display, inline, none);
          }
          &::before {
            transition: all $common_anmt;
            width: 0%;
            height: 140%;
            position: absolute;
            top: 50%;
            z-index: -1;
            content: '';
            background-color: $lemon;
            transform: translateY(-50%) skewX(-30deg);

            @include max(left, #{-10px}, -55%);
          }
        }
        &.active > a,
        &.lower_active > a,
        &:not(.active) > a:hover {
          span {
            color: $dark_gray;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-color: $dark_gray;
            -webkit-text-stroke-width: 0.65px;
          }
          path {
            color: $dark_gray;
          }
          &::before {
            width: calc(100% + 20px);
          }
        }
        &.active > a {
          pointer-events: none;
        }
      }
      &.opened {
        width: 650px;

        &::before {
          transition: all $common_anmt order(1);
          width: calc(60px / #{sqrt(3)});
          right: calc(-60px / #{sqrt(3)});
        }
        &::after {
          height: 80px;
          top: 0;
          right: -25px;
        }
        li {
          animation: flash_once 0.1s linear forwards order(2);
        }
      }
    }
  }
  button {
    transition: width $common_anmt entry_order(4), left $common_anmt;
    display: flex;
    flex-direction: column;
    width: 0px;
    position: relative;
    left: 0;
    border-top: 1px solid $lemon;
    cursor: pointer;

    @include max(height, #{60px}, 60px);
    @include hover(true) {
      &:hover,
      &.closing:not(:hover) {
        span {
          @include max(height, #{120px}, 120px);

          &::before {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    &.opened {
      z-index: 1000;

      @include max(left, $sp_value: 70px);

      &.expanded {
        @include max(left, $sp_value: 200px);
      }
      &::before {
        @include max(margin-left, $sp_value: 15px);
      }
      &::after {
        @include max(margin-left, $sp_value: 30px);
      }
      span {
        @include max(height, #{120px}, 120px);

        &::before {
          content: 'CLOSE';
          visibility: visible;
          opacity: 1;

          @include max(top, #{30px}, 32px);
          @include max(letter-spacing, #{2px}, 2px);
        }
      }
    }
    &:is(.init) {
      transition: all 0s;
    }
    &::before,
    &::after {
      transition: width $common_anmt entry_order(4), margin-left $common_anmt;
      width: 0;
      height: 1px;
      content: '';
      background-color: $lemon;

      @include max(margin-top, #{15px}, 15px);
    }
    span {
      transition: height $common_anmt;
      box-sizing: border-box;
      height: 0;
      clip-path: polygon(0 0, 100% 0%, 0% 100%);
      position: absolute;
      background-color: $lemon;
      inset: -1px 0 0;

      @include max(width, calc(120px / #{sqrt(3)}), divide(120px, sqrt(3)));

      &::before {
        transition: all 0.2s $ex_ease_out;
        position: absolute;
        content: 'OPEN';
        color: $dark_gray;
        font-weight: 600;
        transform: rotate(90deg);
        visibility: hidden;
        opacity: 0;

        @include max(top, #{30px}, 32px);
        @include max(left, #{-18px}, -18px);
        @include max(font-size, #{16px}, 17px);
        @include max(letter-spacing, #{4px}, 4px);
      }
    }
  }
  &:not(.home),
  [class*='mounted'] + & {
    button {
      @include max(width, #{60px}, 60px);

      &::before {
        @include max(width, #{45px}, 45px);
      }
      &::after {
        @include max(width, #{30px}, 30px);
      }
    }
  }
}
@keyframes flash_once {
  0% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
