.wrapper {
  position: relative;

  svg {
    position: absolute;
    top: 12.5%;
    cursor: pointer;

    @include max(right, #{7.5px}, 7.5px);
    @include max(font-size, #{25px}, 25px);

    :not([class*='alignment']) + &:hover path {
      color: $red;
    }
    &:hover path {
      color: $lemon;
    }
  }
}
.entire {
  background-color: #313131;
  border-radius: 5px;

  &::after {
    display: block;
    width: 100%;
    content: '';

    @include max(height, #{12px}, 12px);
  }
  .icons {
    box-sizing: border-box;
    overflow-y: scroll;
    overscroll-behavior-y: contain;

    @include max(min-height, #{50px}, 50px);
    @include max(max-height, #{132.5px}, 132.5px);
    @include max(padding-top, #{12px}, 12px);
    @include max(padding-left, #{12px}, 12px);

    .loading {
      @include max(margin-top, #{12px}, 12px);
    }
    ul {
      display: flex;
      flex-wrap: wrap;

      @include max(gap, #{12px}, 12px);

      li {
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;

        svg {
          @include max(width, #{22.5px}, 22.5px);
          @include max(height, #{22.5px}, 22.5px);
        }
        &:last-of-type {
          width: 0;
          height: 0;
        }
        &::after {
          width: 0%;
          height: 2px;
          position: absolute;
          left: 50%;
          content: '';
          background-color: $lemon;
          transform: translateX(-50%);

          @include max(bottom, #{-8px}, -8px);
        }
        &.active::after {
          width: 150%;
        }
        &.active::before,
        &:hover::before {
          width: 150%;
          height: 150%;
          position: absolute;
          top: 50%;
          left: 50%;
          content: '';
          background-color: rgba(white, 0.08);
          border-radius: 5px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
