.entire {
  display: flex;
  position: relative;

  [class*='slick-arrow'] {
    background-color: $lemon;
    font-size: 0;
    overflow: hidden;
    position: relative;

    // @include max(width, 30px);
    width: 30px;

    &[class*='slick-prev'] {
      // @include max(margin-right, 15px);
      margin-right: 15px;
      &::before {
        color: $dark-gray;
        content: '<';
        display: block;
        font-weight: 300;
        transform: scaleY(1.2);

        @include max(font-size, 20px);
      }
    }
    &[class*='slick-next'] {
      // @include max(margin-left, 15px);
      margin-left: 15px;
      &::before {
        color: $dark-gray;
        content: '>';
        display: block;
        font-weight: 300;
        transform: scaleY(1.2);

        @include max(font-size, 20px);
      }
    }
  }
  [class*='slick-list'] {
    box-sizing: border-box;

    // @include max(width, 1260px);
    width: calc(100% - 30px);

    [class*='slick-slide'] {
      position: relative;
      &::before {
        background-color: $lemon;
        content: '';
        height: 100%;
        // left: calc(#{300 / 21 + 0%} / 2);
        left: 15px;
        mix-blend-mode: hue;
        opacity: 1;
        position: absolute;
        top: 0;
        // width: calc(100% - #{300 / 21 + 0%});
        width: calc(100% - 30px);
        z-index: 1;
      }
    }
    [class*='slick-slide'] > div {
      align-items: center;
      background-color: $lemon;
      background-color: rgba(white, 0.08);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      // @include max(margin-right, 15px);
      margin-right: 15px;

      // @include max(margin-left, 15px);
      margin-left: 15px;

      // @include max(height, 180px);
      padding-top: calc(100% - 30px);

      &::before,
      &::after {
        bottom: 0;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        width: 0;
      }
      &::before {
        border-bottom: 1px solid $lemon;
        border-right: 1px solid $lemon;
        opacity: 0;
      }
      &::after {
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, $lemon 50.75%)
          no-repeat top left/100% 100%;
        bottom: 0;
      }

      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        * {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
        svg {
          // @include max(font-size, 90px);
          font-size: 90px;
        }
        p {
          // @include max(margin-top, 30px);
          margin-top: 30px;
          font-size: 20px;
        }
      }
    }
  }
}
