.entire {
  background-clip: content-box;
  background-color: $lemon;
  display: flex;
  font-style: italic;
  font-weight: bold;
  height: 85px;
  position: relative;
  width: 0;

  @include max(padding-left, #{10px}, 10px);

  @include custom_max(height, 85px, 725px);

  &::before {
    background-color: $lemon;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }
  &::after {
    background-color: $lemon;
    clip-path: polygon(0 0, 100% 0%, 0% 100%);
    content: '';
    left: 100%;
    position: absolute;
    top: 0;
    transform: translate(-1px, -0.5px);

    @include custom_max(width, 85px * 1.02 / $route_3, 725px);

    @include custom_max(height, 85px * 1.02, 725px);
  }
  span {
    overflow: hidden;
    position: relative;

    @include custom_max(margin-left, 20px, 725px);

    &::before {
      background-color: $lemon;
      content: '';
      height: 100%;
      right: -5%;
      top: 0;
      position: absolute;
      transform: skewX(-30deg);
      width: 110%;
      z-index: 1;
    }
    svg {
      height: 112.5%;
      margin-top: -1%;
      position: relative;
      width: 100%;
      &:first-of-type {
        z-index: 2;
        path {
          fill: transparent;
          stroke: $dark-gray;
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
          stroke-width: 3px;
        }
      }
      &:last-of-type {
        inset: 0 0;
        position: absolute;
        z-index: 0;
        path {
          fill: $dark-gray;
        }
      }
    }
  }
}
