.entire {
  background-color: $lemon;
  display: flex;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -4px;
  position: relative;
  transform: translateX(2%);
  user-select: none;

  &::before {
    background-color: $lemon;
    content: '';
    height: 100%;
    position: absolute;
    right: 102%;
    top: 0;
    width: 2px;
  }
  &::after {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, $lemon 50.75%) no-repeat top left/100% 100%;
    content: '';
    left: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-1px);
  }
  .svg {
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    svg {
      &:first-of-type path {
        fill: transparent;
        stroke: $dark-gray;
        stroke-dasharray: 2000;
        stroke-width: 3px;
      }
      &:last-of-type {
        left: 0;
        position: absolute;
        top: 0;
        z-index: -2;
        path {
          fill: $dark-gray;
        }
      }
    }
    &::before {
      background-color: $lemon;
      content: '';
      height: 100%;
      position: absolute;
      right: -5%;
      top: 0;
      transform: skewX(-30deg);
      z-index: -1;
    }
  }
}
