.entire {
  display: flex;
  width: 0;
  height: 85px;
  position: relative;
  font-weight: bold;
  font-style: italic;
  background-color: $lemon;
  background-clip: content-box;

  @include max(padding-left, #{10px}, 10px);
  @include custom_max(height, 85px, 725px);

  &::before {
    width: 2px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: $lemon;
  }
  &::after {
    clip-path: polygon(0 0, 100% 0%, 0% 100%);
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    background-color: $lemon;
    transform: translate(-1px, -0.5px);

    @include custom_max(width, divide(85px * 1.02, sqrt(3)), 725px);
    @include custom_max(height, 85px * 1.02, 725px);
  }
  span {
    overflow: hidden;
    position: relative;

    @include custom_max(margin-left, 20px, 725px);

    &::before {
      width: 110%;
      height: 100%;
      position: absolute;
      top: 0;
      right: -5%;
      z-index: 2;
      content: '';
      background-color: $lemon;
      transform: skewX(-30deg);
    }
    svg {
      width: 100%;
      margin-top: -1%;
      position: relative;
      // height: 112.5%;
      @include custom_max(height, 85px * 1.02 * 1.125, 725px);

      &:first-of-type {
        z-index: 3;

        path {
          fill: transparent;
          stroke: $dark_gray;
          stroke-dasharray: 2000;
          stroke-dashoffset: 2000;
          stroke-width: 3px;
        }
      }
      &:last-of-type {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        path {
          fill: $dark_gray;
        }
      }
    }
  }
}
