.entire {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all $common_anmt entry_order(1);

  @include max(z-index, 2, 1);

  @include max(left, -130vw, -400vw);

  .cover {
    background-color: $lemon;
    height: calc(200vh + 200vw);
    left: 167.5px;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%) rotate(30deg);
    transform-origin: 0% 50%;
    user-select: none;

    @include max(width, 55vw, 180vw);

    span {
      display: block;
      font-family: $en_font;
      font-size: 700px;
      font-style: italic;
      font-weight: 700;
      left: -925px;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      transform: rotate(-90deg);
    }
  }
  &.mounted {
    &:not(.home) {
      transition: all $common_anmt;
    }
    &.home {
      transition: all $common_anmt entry_order(1);

      @include max(left, 50%, 50vw);

      @include media(sp) {
        &:not(.first) {
          transition: all $common_anmt entry_order(1) + $first_duration;
        }
      }

      @media screen and (max-width: map-get($fixed_point, 'sp') + 0px) {
        .cover {
          left: 33vw;
        }
      }
    }
  }
}
