.entire {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;

  @include max(left, -130vw, -2000px);

  .cover {
    background-color: $lemon;
    height: calc(200vh + 200vw);
    left: 167.5px;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%) rotate(30deg);
    transform-origin: 0% 50%;
    user-select: none;

    @include max(width, 55.5vw, 500px);

    span {
      display: block;
      font-size: 700px;
      font-style: italic;
      font-weight: 700;
      left: -925px;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      transform: rotate(-90deg);
    }
  }
  &:not(.home) {
    transition: left $common_anmt;
  }
  #{$mount} & {
    &.home {
      left: 50%;
      transition: left $common_anmt entry_order(1);

      @media screen and (max-width: #{$f_sp + 0px}) {
        .cover {
          left: 33vw;
        }
      }
    }
  }
}
