.entire {
  animation: fade_in 0.6s both;
  box-sizing: border-box;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@keyframes fade_in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
