.wrapper {
  display: flex;
  height: calc(100% - (11px + 110px + 40px + 11px));
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: calc(100% - (11px + 40px + 40px + 11px));

  @include max(margin-top, #{110px}, 100px);

  @include max(margin-bottom, #{40px}, 30px);

  @include max(margin-left, #{40px}, 30px);

  @include max(margin-right, #{40px});

  @include diff(width, $sp_value: 30px, $add_term: '- 22px');

  @include diff(height, $sp_value: 100px + 30px, $add_term: '- 22px');

  @include custom_scrollbar();

  .contents {
    height: 100%;
    max-width: 1400px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  section {
    box-sizing: border-box;
    left: 0;
    position: absolute;
    width: 100%;
    &:not(.mobile) {
      transition: all $common_anmt;
    }

    &.no_transition {
      transition: all 0s;
    }
  }
  .scrollbar {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    span {
      background-color: $lemon;
      border-radius: 2.5px;
      transition: all $common_anmt;
      width: 8px;
    }
  }
}
