.entire {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left $common_anmt order(1);
  z-index: 0; // with LeMoN.module.scss

  @include max(left, -130vw, -1300px);

  .cover {
    background-color: $lemon;
    left: 167.5px;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%) rotate(30deg);
    transform-origin: 0% 50%;
    user-select: none;

    @include max(height, calc(200vh + 200vw), 200vh);

    @include max(width, 55.5vw, 500px);

    span {
      display: block;
      font-size: 700px;
      font-style: italic;
      font-weight: 700;
      left: -925px;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      transform: rotate(-90deg);
    }
  }
  &.mobile {
    @include max(left, 130vw, 700px);
  }
  [class*='mounted'] + header[class*='header_opened'] + main > &.home {
    @include max(left, $sp_value: add(50%, 70px));
  }
  #{$mount} & {
    &.home {
      left: 50%;
      @media screen and (max-width: #{$f_sp + 0px}) {
        .cover {
          left: 33vw;
        }
      }
    }
  }
}
