.entire {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;

  @include max(box-sizing, border-box);

  @include max(padding-left, 30px);

  @include diff(padding-right, 30px, $from: 8px, $add_term: '* -1');

  @include custom_scrollbar();

  @include max(width, calc(100% - (30px + 11px + 40px) - (30px + 11px + 40px)));

  @include max(height, calc(100% - (30px + 11px + 110px) - (30px + 11px + 40px)));

  @include diff(width, $sp_value: (20px + 30px + 30px + 20px), $add_term: '- 11px - 3px');

  @include diff(height, $sp_value: (20px + 60px + 30px + 20px), $add_term: '- 11px - 11px');

  @include max(margin-bottom, calc(30px + 11px + 40px));

  @include max(margin-top, calc(30px + 11px + 110px));

  @include add(margin-top, $sp_value: (20px + 60px), $from: 11px);

  @include add(margin-bottom, $sp_value: (20px + 30px), $from: 11px);

  // @include media(mobile) {
  //   &.toc_clicked {
  //     @include max(top, calc(30px + 11px + 110px));

  //     @include add(top, $sp_value: (20px + 60px), $from: 11px);
  //   }
  // }
}
