.entire {
  font-family: $jp_font;
  line-height: 1.8;
  overflow: hidden;
  position: relative;

  @include max(font-weight, #{200}, #{300});

  span {
    transform: translateY(-100%);

    @include max(letter-spacing, #{1.2px}, 1.2px);

    @include max(font-size, #{16px}, 16px);

    @include max(text-align, $sp_value: center);

    &:not(:first-of-type) {
      @include max(margin-top, 12.5px, 12.5px);
    }
  }
}
