.entire {
  font-family: $en_font;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.75;
  overflow: hidden;
  position: relative;
  width: 90%;
  span {
    display: inline-block;
    font-size: 19px;
  }
}
