.entire {
  display: flex;
  flex-wrap: wrap;

  @include max(justify-content, $sp_value: space-evenly);

  @include max(column-gap, #{40px}, 20px);

  @include max(row-gap, #{25px}, 20px);

  li {
    align-items: center;
    display: flex;
    font-style: italic;
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    @include max(width, #{230px}, 230px);

    @include max(height, #{27.5px}, 35px);

    @include max(font-size, #{20px}, 20px);

    span {
      align-items: center;
      display: inline-flex;
      position: relative;
      transform: translateY(-125%);
      svg {
        @include max(height, #{22.5px}, 27.5px);

        @include max(width, #{22.5px}, 27.5px);

        @include max(margin-right, #{20px}, 15px);

        path {
          color: $lemon;
        }
      }
      a {
        display: flex;

        @include hover(both) {
          text-decoration: underline;
          text-decoration-color: rgba(white, 0.5);
          text-decoration-thickness: 1px;
        }
      }
    }
  }
}
