.cards {
  display: flex;
  width: 100%;

  @include max(column-gap, 40px);
  @include max(row-gap, 40px, 30px);

  @media screen and (max-width: 975px) {
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(white, 0.08);
    border-right: 1px solid $lemon;
    border-bottom: 1px solid $lemon;

    @include max(width, diff(100%, 40px, div(3)));
    @include max(padding-top, 40px, 30px);
    @include max(padding-bottom, 40px, 30px);

    @media screen and (max-width: 975px) {
      width: 100%;
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      content: '';
      background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, $lemon 50.75%) no-repeat top left/100%
        100%;

      @include max(width, #{50px}, 50px);
      @include max(height, #{50px}, 50px);
    }
    .icon {
      display: block;

      @include max(font-size, #{55px}, 55px);

      path {
        color: $lemon;
      }
    }
    h2 {
      width: 100%;
      position: relative;
      color: $dark_gray;
      font-weight: 300;
      text-align: center;
      background-color: $lemon;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-color: $dark_gray;
      -webkit-text-stroke-width: 1px;

      @include max(margin-top, #{30px}, 30px);
      @include max(padding-top, #{10px}, 10px);
      @include max(padding-bottom, #{5px}, 5px);
      @include max(font-size, #{27.5px}, 29.5px);
    }
    & > *:not(h2) {
      @include max(padding-right, 40px, 30px);
      @include max(padding-left, 40px, 30px);
    }
    p {
      font-weight: 300;
      font-family: $jp_font;
      line-height: 1.8;
      letter-spacing: 1.2px;
      text-align: center;
      vertical-align: bottom;

      @include max(margin-top, #{30px}, 30px);
      @include max(font-size, #{16px}, 18px);
    }
    hr {
      width: 60%;
      margin: 0;
      opacity: 0.15;

      @include max(margin-top, #{27.5px}, 27.5px);
    }
    h3 {
      position: relative;
      font-weight: 400;

      @include max(margin-top, #{27.5px}, 27.5px);
      @include max(font-size, #{20px}, 24px);

      &,
      span {
        color: $lemon;
      }
    }
    ul {
      @include max(margin-top, #{20px}, 20px);

      li {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: 300;
        text-align: center;

        @include max(font-size, #{18px}, 22px);

        &:not(:first-of-type) {
          @include max(margin-top, #{15px}, 15px);
        }
      }
    }
  }
}
