.entire {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  font-weight: 400;
  background-color: rgba(white, 0.08);
  border-radius: 10px;

  @include max(width, calc(100% - 8px));
  @include max(width, $sp_value: diff(100%, 8px));
  @include max(margin-right, #{8px}, 8px);
  @include max(font-size, #{18px}, 18px);

  .gutter {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    position: absolute;

    @include max(width, #{35px}, 35px);

    button {
      background-color: rgba(white, 0.08);
      border-radius: 15px;

      @include max(width, #{6px}, 6px);
      @include max(height, #{50px}, 50px);
    }
  }
  &:not(.opened) {
    & > *:not(.main, .gutter) {
      display: none;
    }
    .main {
      width: calc(100% - 35px);
    }
    .gutter {
      position: relative;
      background-color: rgba(white, 0.08);
      border-right: 2px solid $lemon;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    height: 100%;

    .editor {
      display: flex;
      flex-grow: 1;
      height: 100%;
      overflow: hidden;

      @include max(flex-direction, $sp_value: column);

      @media screen and (max-width: 1250px) {
        position: relative;

        & > *:not(.switch) {
          width: 100%;
          height: 100%;
          position: absolute;
        }
        &.enable {
          & > div:first-of-type {
            visibility: hidden;
            opacity: 0;
          }
          & > div:last-of-type {
            visibility: visible;
            opacity: 1;
          }
        }
        & > div:last-of-type {
          visibility: hidden;
          opacity: 0;
        }
        .switch {
          position: absolute;
          right: 2%;
          bottom: 2%;
          z-index: 100;
          background-color: $lemon;
          border-radius: 50%;

          @include max(width, #{35px}, 35px);
          @include max(height, #{35px}, 35px);

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-45%, -50%);

            @include max(font-size, #{22.5px}, 22.5px);

            path {
              color: $dark_gray;
            }
          }
        }
      }

      [class*='gutter'] {
        display: grid;
        background-color: $lemon;
        background-color: rgba(white, 0.16);
        place-items: center;

        &::before {
          display: block;
          box-sizing: border-box;
          width: 6px;
          height: 50px;
          content: '';
          border-right: 1px solid rgba(white, 0.8);
          border-left: 1px solid rgba(white, 0.8);
        }
      }
    }
  }
}
