.entire {
  box-sizing: border-box;
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(white, 0.08);
  border-right: 2px solid $lemon;

  @include max(padding-top, #{35px}, 35px);
  @include max(padding-bottom, #{35px}, 35px);
  @include max(padding-right, #{27px}, 27px);
  @include max(padding-left, #{35px}, 35px);

  label:not(.check) {
    display: flex;
    align-items: flex-end;

    @include max(font-size, #{20px}, 20px);

    &:not(:first-of-type) {
      @include max(margin-top, #{37.5px}, 37.5px);
    }
    &::before {
      display: block;
      width: 4px;
      content: '';
      background-color: $lemon;

      @include max(height, #{25px}, 25px);
      @include max(margin-right, #{7.5px}, 7.5px);
    }
  }
  label.check {
    transition: outline-color 0.2s;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    font-weight: 400;
    font-family: $jp_font;
    background-color: rgba($dark_gray, 0.5);
    border-radius: 4px;
    outline: 2px solid;
    outline-color: transparent;
    cursor: pointer;

    @include max(margin-top, #{15px}, 15px);
    @include max(margin-right, #{15px}, 15px);
    @include max(padding-top, #{8px}, 8px);
    @include max(padding-left, #{10px}, 10px);
    @include max(padding-right, #{9px}, 9px);
    @include max(padding-bottom, #{8px}, 8px);
    @include max(font-size, #{16px}, 16px);
    @include max(letter-spacing, #{1.2px}, 1.2px);

    span {
      &::before {
        display: inline-block;
        width: 8px;
        height: 8px;
        padding: 2px;
        content: '';
        background-clip: content-box;
        border: 1px solid $lemon;
        border-style: solid;
        border-radius: 50%;
        border-radius: 50%;

        @include max(margin-right, #{7.5px}, 7.5px);
      }
    }
    &:hover {
      transition: outline-color 0.3s;
      outline-color: rgba(white, 0.25);
    }
    &:active {
      transition: outline-color 0.3s, background-color 0.3s;
      background-color: rgba($dark_gray, 0.9);
      outline-color: $lemon;
    }
    input[type='radio'] {
      display: none;

      &:checked + span::before {
        background-color: $lemon;
      }
      &:not(:checked) + span::before {
        background-color: transparent;
      }
    }
  }
  input {
    transition: outline-color 0.2s, background-color 0.2s;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-weight: 300;
    font-family: $jp_font;
    background-color: rgba($dark_gray, 0.5);
    border-radius: 4px;
    outline: 2px solid;
    outline-color: transparent;
    scroll-padding-top: 100px;

    @include max(padding-right, #{7.5px}, 7.5px);
    @include max(padding-left, #{7.5px}, 7.5px);
    @include max(padding-top, #{2px}, 2px);
    @include max(padding-bottom, #{2px}, 2px);
    @include max(font-size, #{16px}, 16px);
    @include max(font-size, #{16px}, 16px);
    @include max(letter-spacing, #{1.2px}, 1.2px);

    @keyframes onAutoFillStart {
      from {
      }
      to {
        background-color: transparent;
      }
    }

    &:not([type='date'], [type='submit']) {
      line-height: 1.8;
    }
    &[type='date'],
    &[type='submit'] {
      line-height: 1.65;
    }
    &:not([type='submit']) {
      color: $text-white;

      @include max(margin-top, #{12.5px}, 12.5px);

      &:hover {
        transition: outline-color 0.3s, background-color 0.3s 10000s;
        outline-color: rgba(white, 0.25);
      }
      &:focus,
      &:focus:hover,
      &[class*='alignment'] {
        transition: outline-color 0.3s, background-color 0.3s;
        background-color: rgba($dark_gray, 0.9);
        outline-color: $lemon;
      }
    }
    &[type='submit'] {
      font-weight: 400;
      border: 1px solid;
      cursor: pointer;

      @mixin submit($color, $font_weight: 400) {
        color: $color;
        font-weight: $font_weight;
        border-color: $color;

        &:hover {
          background-color: rgba($color, 0.075);
        }
      }

      &:hover {
        transition: background-color 0.3s;
      }
      &[name='save'] {
        @include max(margin-top, #{37.5px}, 37.5px);
        @include submit($lemon);
      }
      &[name='zenn'] {
        @include submit(#37a2ff, 500);
      }
      &:not([name='save']) {
        @include max(margin-top, #{17.5px}, 17.5px);
      }
      &[name='delete'] {
        @include submit($red, 500);
      }
    }
    &[type='text']:-webkit-autofill,
    &[type='text']:focus:-webkit-autofill {
      transition: background-color 0s;
      transition-delay: 10000s;
      animation-name: onAutoFillStart;
      caret-color: white;
      -webkit-text-fill-color: white !important;
    }
    &[type='date']::-webkit-calendar-picker-indicator {
      cursor: pointer;
      filter: invert(0.8);
    }
  }
  .emoji {
    position: relative;

    &.enable {
      svg {
        display: inline-block;
      }
      input {
        color: transparent;
        cursor: pointer;
      }
    }
    svg {
      display: none;
      position: absolute;

      @include max(top, #{5px}, 5px);
      @include max(left, #{8px}, 8px);
    }
    input {
      cursor: text;

      &.enable {
        transition: outline-color 0.3s, background-color 0.3s;
        background-color: rgba($dark_gray, 0.9);
        outline-color: $lemon;
      }
    }
    & + .picker {
      position: relative;
      visibility: hidden;
      opacity: 0;

      & > * {
        width: 100%;
        position: absolute;
        top: calc(100% + 2px);
        left: 0px;
        z-index: 9999;
      }
      &.enable {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
