.entire {
  display: flex;
  justify-content: space-between;

  @include max(margin-top, #{12.5px}, 12.5px);

  & + .picker {
    @include max(margin-top, #{12.5px}, 12.5px);
  }
  select,
  option,
  button {
    background-color: rgba($dark_gray, 0.5);
    border-radius: 4px;
    outline: 2px solid;
    outline-color: transparent;

    &:hover {
      transition: outline-color 0.3s;
      outline-color: rgba(white, 0.25);
    }
    &:not(button) {
      box-sizing: border-box;
      color: $text-white;
      font-weight: 300;
      font-family: $jp_font;
      line-height: 1.8;
      cursor: pointer;
    }
  }
  select {
    transition: outline-color 0.2s, background-color 0.2s;

    @include max(width, calc(100% - 12.5px - 32px));
    @include max(padding-right, #{7.5px}, 7.5px);
    @include max(padding-left, #{7.5px}, 7.5px);
    @include max(padding-top, #{2px}, 2px);
    @include max(padding-bottom, #{4px}, 4px);
    @include max(font-size, #{16px}, 16px);
    @include max(letter-spacing, #{1.2px}, 1.2px);

    &.init {
      color: rgba(white, 0.25);
      font-weight: 100;
    }
    &:focus,
    &:focus:hover {
      transition: outline-color 0.3s, background-color 0.3s;
      background-color: rgba($dark_gray, 0.9);
      outline-color: $lemon;
    }
    option {
      &:first-of-type {
        display: none;
      }
      &:hover {
        background-color: $lemon !important;
      }
      &:last-of-type {
        color: $dark_gray;
        font-weight: 400;
        background-color: $lemon;
      }
    }
  }
  button {
    transition: outline-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;

    @include max(width, #{32px}, 32px);
    @include max(margin-left, #{12.5px}, 12.5px);
    @include max(font-size, #{30px}, 30px);

    &.add span {
      color: $lemon;
    }
    &.delete span {
      color: $red;
      transform: scaleX(1.5);
    }
    &:active {
      transition: outline-color 0.3s;
      outline-color: $lemon;
    }
  }
}
