.title {
  font-family: $en_font;
  font-weight: bold;
  font-style: italic;
  color: $lemon;
  @include max(font-size, #{120px}, 120px);
}
.caution {
  @include max(font-size, #{16px}, 18px);
  @include max(margin-top, #{20px}, 20px);
}
.button {
  @include max(margin-top, #{30px}, 30px);
}