.profile {
  align-items: center;
  display: flex;
  .concept_img {
    height: 85%;
    width: 50%;

    &::before {
      transform: translate(-36%, -50%) skewX(-30deg);
    }
  }
  .text_wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 50%;

    @include max(padding, 50px);

    @include max(padding-top, 30px);

    .title {
      @include max(margin-top, 65px);

      @include max(width, 460px);

      @include max(height, 85px);

      svg {
        height: 112.5%;
        margin-top: -1%;
        width: 100%;
      }
      &::after {
        @include max(height, 85 * 1.02px);

        @include max(width, (85 * 1.02 / $route_3) + 0px);
      }
    }
    .sentence {
      margin-left: 2%;
      width: 98%;

      @include max(margin-top, 50px);
    }
    .info {
      margin-left: 2%;

      @include max(margin-top, 50px);
    }
  }
  &:not([class*='mounted']),
  &[class*='mounted']:not(.active) {
    .concept_img svg {
      opacity: 0;
      transform: translateX(10%);
    }
    .heading span {
      transform: translateY(105%);
    }
    .title {
      width: 0;

      span {
        svg:first-of-type path {
          stroke-dashoffset: 2000;
        }
        &::before {
          width: 110%;
        }
      }
      &::before {
        height: 0;
      }
    }
    .sentence span,
    .info li span {
      transform: translateY(-100%);
    }
  }
  &[class*='mounted'].active {
    .concept_img svg {
      opacity: 1;
      transform: translateX(0%);
      transition: all ease-out $common_drtn order(1);
    }
    .heading span {
      transform: translateY(0%);
      transition: transform $common_anmt order(2);
    }
    .title {
      transition: width $common_anmt order(1);

      @include max(width, 460px);

      span {
        &:first-of-type path {
          stroke-dashoffset: 0;
          transition: stroke-dashoffset 2.5s ease-in order(2);
        }
        &::before {
          transition: width $common_anmt 2.8s;
          width: 0%;
        }
      }

      &::before {
        height: 100%;
        transition: height $common_anmt order(1);
      }
    }
    .sentence span,
    .info li span {
      transform: translateY(0%);
      transition: transform $common_anmt order(2);
    }
  }
}
.skills {
  box-sizing: border-box;

  @include max(padding-left, 50px);

  @include max(padding-top, 30px);

  .heading:not(:first-of-type) {
    @include max(margin-top, 65px);
  }

  & > *:not(.heading) {
    @include max(margin-top, 20px);
  }

  &[class*='mounted'].active {
    .heading span {
      transform: translateY(0%);
      transition: transform $common_anmt order(3);
    }
    .tools {
      &::before {
        height: 1px;
        transition: all $common_anmt order(2);
      }
    }
    .langs {
      [class*='slick-slide'] {
        &::before {
          opacity: 0;
          transition: opacity $common_anmt order(3);
        }
      }
      [class*='slick-slide'] > div {
        &::before {
          height: 100%;
          opacity: 1;
          transition: opacity 0s order(3), width $common_anmt order(4),
            height $common_anmt order(4);
          width: 100%;
        }
        &::after {
          transition: all $common_anmt order(3);

          @include max(height, 30px);

          @include max(width, 30px);
        }
      }
    }
  }
}
