.profile {
  align-items: center;
  display: flex;
  .concept_img {
    display: flex;
    height: 85%;
    position: relative;
    width: 50%;
    &::before {
      background-color: rgba(white, 0.08);
      border-right: 10px solid $lemon;
      content: '';
      height: 125%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(-36%, -50%) skewX(-30deg);
      width: 90%;
      z-index: -1;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .text_wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 50%;

    @include max(padding-top, 30px);

    @include max(padding-left, 50px);

    .title {
      height: 85px;
      width: 460px;

      @include max(margin-top, 65px);

      svg {
        height: 112.5%;
        margin-top: -1%;
        width: 100%;
      }
      &::after {
        height: calc(85px * 1.02);
        width: calc(85px * 1.02 / #{$route_3});
      }
    }
    .introduction,
    .info {
      margin-left: 2%;
      width: 98%;

      @include max(margin-top, 50px);
    }
  }
  &:not(.mounted),
  &.mounted:not(.active) {
    .concept_img svg {
      opacity: 0;
      transform: translateX(10%);
    }
    .heading span {
      transform: translateY(105%);
    }
    .title {
      width: 0;

      span {
        svg:first-of-type path {
          stroke-dashoffset: 2000;
        }
        &::before {
          width: 110%;
        }
      }
      &::before {
        height: 0;
      }
    }
    .introduction span,
    .info li span {
      transform: translateY(-100%);
    }
  }
  &.mounted.active {
    .concept_img svg {
      opacity: 1;
      transform: translateX(0%);
      transition: all ease-out $common_drtn order(1);
    }
    .heading span {
      transform: translateY(0%);
      transition: transform $common_anmt order(2);
    }
    .title {
      transition: width $common_anmt order(1);
      width: 460px;

      span {
        &:first-of-type path {
          stroke-dashoffset: 0;
          transition: stroke-dashoffset 2.5s ease-in order(2);
        }
        &::before {
          transition: width $common_anmt 2.8s;
          width: 0%;
        }
      }

      &::before {
        height: 100%;
        transition: height $common_anmt order(1);
      }
    }
    .introduction span,
    .info li span {
      transform: translateY(0%);
      transition: transform $common_anmt order(2);
    }
  }
}
.skills {
  box-sizing: border-box;

  @include max(padding-left, 50px);

  @include max(padding-top, 30px);

  .heading:not(:first-of-type) {
    @include max(margin-top, 65px);
  }

  & > *:not(.heading) {
    @include max(margin-top, 25px);
  }

  &.active {
    .heading span {
      transform: translateY(0%);
      transition: transform $common_anmt order(3);
    }
    .tools {
      &::before {
        height: 1px;
        transition: all $common_anmt order(2);
      }
    }
    .langs {
      [class*='slick-slide'] {
        &::before {
          opacity: 0;
          transition: opacity $common_anmt order(3);
        }
      }
      [class*='slick-slide'] > div {
        &::before {
          height: 100%;
          opacity: 1;
          transition: opacity 0s order(3), width $common_anmt order(4), height $common_anmt order(4);
          width: 100%;
        }
        &::after {
          height: 30px;
          transition: all $common_anmt order(3);
          width: 30px;
        }
      }
    }
  }
}
