.entire {
  .split {
    display: flex;
    height: calc(100vh - (30px + 11px + 110px) - (30px + 11px + 30px));
    & > *:not([class*='gutter-horizontal']) {
      background-color: rgba(white, 0.08);
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: scroll;
      position: relative;
      width: 50%;

      @include custom_scrollbar();
    }
    .editor {
      // @include max(padding, #{20px}, 20px);
      .inner {
        box-sizing: border-box;
        counter-reset: number 0;
        font-family: $jp_font;
        font-weight: 400;
        line-height: 1.8;
        list-style-type: none;
        outline: 0;
        width: 100%;

        @include max(font-size, #{15px}, 15px);

        @include max(letter-spacing, #{1.2px}, 1.2px);

        @include max(padding-left, #{45px}, 45px);

        & > p,
        & > div {
          position: relative;

          &::before {
            align-items: center;
            background-color: rgba($dark-gray, 0.4);
            box-sizing: border-box;
            content: counter(number);
            counter-increment: number 1;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 0;

            @include max(padding-right, #{5px}, 5px);

            @include max(padding-left, #{5px}, 5px);

            @include max(left, #{-45px}, -45px);

            @include max(width, #{40px}, 40px);
          }
        }
      }
    }
    [class*='gutter-horizontal'] {
      background-color: $lemon;
    }
  }
}
