.blog {
  @include max(padding-top, 30px);
  .articles {
    @include max(margin-top, 30px, 30px);
  }
  .heading:not(:first-of-type) {
    @include max(margin-top, 65px, 65px);
  }
  .more {
    @include max(margin-top, 45px, 30px);
  }
  &.mounted {
    .heading span {
      transform: translateY(0);
      transition: transform $common_anmt order(1);
    }
  }
}
.post {
  $res: 1199px;
  .fixed_meta {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-family: $jp_font;
    pointer-events: none;
    position: fixed;
    z-index: 1;

    @include max(letter-spacing, #{1.2px}, 1.2px);

    @include diff(width, (30px + 30px), $add_term: '- 30px - 11px - 40px - 30px - 11px - 40px');

    @include diff(width, $sp_value: (20px + 30px + 30px + 20px), $add_term: '- 11px - 11px');

    @include max(top, calc(30px + 11px + 110px));

    @include add(top, $sp_value: (20px + 60px), $from: 11px);

    .inner {
      display: flex;
      position: relative;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      z-index: 1;

      @include max(padding, #{10px}, 10px);
      transition: transform $common_anmt;
    }
    &.showed {
      pointer-events: auto;
      .inner {
        transform: translateY(0);
      }
      &::after {
        height: 100%;
      }
    }
    &::before {
      background-color: $dark-gray;
      bottom: 100%;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
    &::after {
      background-color: $lemon;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: height $common_anmt;
    }

    .emoji {
      align-items: center;
      display: flex;
      justify-content: center;

      @include max(font-size, #{30px}, 30px);

      @include max(margin-right, #{15px}, 15px);
    }
    .title {
      color: rgba($dark-gray, 0.9);
      font-weight: 700;
      line-height: 1.8;

      @include max(font-size, #{17.5px}, 17.5px);
    }
  }
  .contents {
    display: flex;

    @include max(margin-top, #{40px}, $width: $res);

    @include max(flex-direction, $sp_value: column, $width: $res);

    @media screen and (max-width: $res) {
      @include max(margin-top, #{40px}, 30px);
    }
    main {
      @include max(margin-right, 40px, $width: $res);

      @include diff(width, 40px, $from: calc(100% - 360px));

      @include max(order, 1, 2, $res);

      @media screen and (max-width: $res) {
        width: 100%;
      }

      .heading {
        @include max(margin-top, 65px, 65px);
      }
      .relations {
        @include max(margin-top, 30px, 30px);
        li {
          @include diff(width, 40px, $add_term: '/ 2');
        }
      }
    }
    aside {
      position: relative;

      @include max(width, #{360px}, 100%, $res);

      @include max(order, 2, 1, $res);
    }
  }
  &.mounted {
    .heading span {
      transform: translateY(0);
      transition: transform $common_anmt order(2);
    }
  }
}
