.blog {
  @include max(padding-top, 20px);

  @include max(padding-bottom, 20px);

  .articles {
    @include max(margin-top, 30px, 30px);
  }
  .heading:not(:first-of-type) {
    @include max(margin-top, 65px, 65px);
  }
  .more {
    @include max(margin-top, 45px, 30px);
  }
  #{$mount} & {
    .heading span {
      transform: translateY(0);
      transition: transform $common_anmt order(1);
    }
  }
}
.post {
  $res: 1199px;
  .topics {
    @include max(display, none,  $width: $res);
  }
  .contents {
    display: flex;

    @include max(margin-top, #{40px}, $width: $res);

    @include max(flex-direction, $sp_value: column, $width: $res);

    @media screen and (max-width: $res) {
      @include max(margin-top, #{40px}, 30px);
    }
    main {
      @include max(margin-right, 40px, $width: $res);

      @include diff(width, 40px, $from: calc(100% - 360px));

      @include max(order, 1, 2, $res);

      @media screen and (max-width: $res) {
        width: 100%;
      }

      .heading {
        @include max(margin-top, 65px, 65px);
      }
      .relations {
        @include max(margin-top, 30px, 30px);
        li {
          @include diff(width, 40px, $add_term: '/ 2');
        }
      }
    }
    aside {
      position: relative;

      @include max(display, $sp_value: none, $width: $res);

      @include max(width, #{360px}, 100%, $res);

      @include max(order, 2, 1, $res);

      .toc {
        @include max(margin-top, 40px, $width: $res);
      }
    }
  }
  #{$mount} & {
    .heading span {
      transform: translateY(0);
      transition: transform $common_anmt order(2);
    }
  }
}
