.contact {
  display: flex;
  overflow: hidden;
  .image_frame {
    @include max(width, 60%, 120%);

    &::before {
      @include max(width, 81%, 100%);

      @include max(transform, translate(-14%, -50%) skewX(-30deg), translate(-42%, -50%) skewX(-30deg));
    }
    img {
      transform: translateX(10%) scaleX(-1);
    }
  }
  .text_wrapper {
    box-sizing: border-box;
    height: 100%;

    @include max(width, calc(40%), 100%);

    @include max(padding-top, 20px);

    @include max(padding-bottom, 20px);

    .form {
      @include max(margin-top, 30px);

      .inner {
        grid-area: 1/-1;
        position: relative;
        width: 100%;
        z-index: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  #{$mount} & {
    .heading span {
      transform: translateY(0);
      transition: transform $common_anmt order(1);
    }
    .image_frame img {
      opacity: 1;
      transform: translateX(0%) scaleX(-1);
      transition: transform ease-out $common_drtn order(1);
    }
    .form {
      .visible {
        opacity: 1;
        transition: all $common_anmt order(2);
        visibility: visible;
      }
      .hidden {
        opacity: 0;
        transition: all $common_anmt order(1);
        visibility: hidden;
      }
    }
  }
}
