.page {
  @include max(padding-top, 20px);
  @include max(padding-bottom, 20px, 20px);

  .articles {
    @include max(margin-top, 30px, 30px);
  }
  .heading:not(:first-of-type) {
    @include max(margin-top, 65px, 65px);
  }
  #{$mount} & {
    .heading span {
      transition: transform $common_anmt order(1);
      transform: translateY(0);
    }
  }
}
.post {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1600px !important;
  height: 100%;
}
