.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include max(height, 100%);

  .form {
    @include max(max-width, #{375px}, 375px);
    @include max(margin-right, $sp_value: 8px);
    // @include max(margin-top, #{-80px});
    label:first-of-type {
      @include max(margin-top, #{25px}, 25px);
    }
    input[type='button'] {
      @include max(margin-top, #{27.5px}, 27.5px);
    }
    .logo {
      margin-left: -4%;

      @include max(width, #{90px}, 90px);
    }
    h1 {
      display: grid;
      width: 100%;
      overflow: hidden;
      position: relative;
      font-weight: 700;
      font-style: italic;
      place-items: center;

      @include max(margin-top, #{25px}, 25px);
      @include max(font-size, #{60px}, 60px);

      span {
        transform: translateY(-4.5%);
      }
    }
    .divider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      overflow: hidden;
      position: relative;

      @include max(margin-top, #{25px}, 25px);
      @include max(font-size, #{20px}, 20px);

      &::before,
      &::after {
        display: block;
        width: 150px;
        height: 1px;
        position: relative;
        content: '';
        background-color: rgba(white, 0.25);
      }
    }
  }
}
