.entire {
  align-items: center;
  display: flex;
  justify-content: center;
  @include max(height, 100%);

  .form {
    @include max(margin-right, $sp_value: 8px);
    @include max(margin-top, #{-80px});
    label:first-of-type {
      @include max(margin-top, #{25px}, 25px);
    }
    input[type='button'] {
      @include max(margin-top, #{27.5px}, 27.5px);
    }
    .logo {
      margin-left: -4%;
      @include max(width, #{90px}, 90px);
    }
    h1 {
      display: grid;
      font-style: italic;
      font-weight: 700;
      overflow: hidden;
      place-items: center;
      position: relative;
      width: 100%;

      @include max(font-size, #{60px}, 60px);

      @include max(margin-top, #{25px}, 25px);
      span {
        transform: translateY(-4.5%);
      }
    }
    .divider {
      align-items: center;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      position: relative;
      width: 100%;
      @include max(margin-top, #{25px}, 25px);

      @include max(font-size, #{20px}, 20px);

      &::before,
      &::after {
        background-color: rgba(white, 0.25);
        content: '';
        display: block;
        height: 1px;
        position: relative;
        width: 150px;
      }
    }
  }
}
